<main [ngClass]="dark + 'pt-8 lg:pt-16 bg-white antialiased'">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
      <article class="mx-auto w-full max-w-3xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
  
        <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
          Política de Privacidad
        </h1>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          Tu privacidad es importante para nosotros. Esta Política de Privacidad explica cómo Felpil Games Studio recopila, utiliza y protege la información personal que puedes proporcionar a través de nuestro sitio web o servicios relacionados.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Información que Recopilamos:</strong>
          Felpil Games Studio puede recopilar información personal, como nombre, dirección de correo electrónico y datos demográficos al registrarte o utilizar nuestros servicios.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Uso de la Información:</strong>
          Utilizamos la información para personalizar tu experiencia, mejorar nuestros servicios y enviarte información relevante. No compartiremos tu información sin tu consentimiento, excepto según lo exija la ley.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Seguridad:</strong>
          Felpil Games Studio se compromete a garantizar la seguridad de tu información utilizando medidas físicas, electrónicas y administrativas.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Cookies:</strong>
          Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario. Puedes configurar tu navegador para rechazar cookies, pero esto puede afectar la funcionalidad de nuestro sitio.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Enlaces a Terceros:</strong>
          No tenemos control sobre el contenido o las prácticas de privacidad de sitios web de terceros vinculados desde nuestro sitio.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Cambios en la Política:</strong>
          Nos reservamos el derecho de actualizar esta política en cualquier momento. Las modificaciones serán efectivas inmediatamente después de la publicación.
        </p>
  
        <p [ngClass]="'mb-4 dark:text-white'">
          <strong>Contacto:</strong>
          Si tienes preguntas o inquietudes, contáctanos a felpilgamesstudio&#64;gmail.com.
        </p>       
  
      </article>
    </div>
  </main>
  