<main [ngClass]="dark + 'pt-8 lg:pt-16 bg-white antialiased'">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <article class="mx-auto w-full max-w-3xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

      <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
        Términos y condiciones
      </h1>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Aceptación de los Términos y Condiciones:</strong>
        Al acceder o utilizar nuestro sitio web o cualquier servicio relacionado, aceptas cumplir con estos términos y
        condiciones. Si no estás de acuerdo con alguna parte de estos términos, por favor, no utilices nuestros
        servicios.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Propiedad Intelectual:</strong>
        Todos los derechos de propiedad intelectual del software, aplicaciones, videojuegos, y cualquier otro contenido
        o material relacionado son propiedad de Felpil Games Studio. Estos términos no otorgan ningún derecho de propiedad
        intelectual sobre el contenido.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Uso del Software:</strong>
        Estás autorizado a utilizar nuestro software y servicios de acuerdo con estos términos. No debes copiar,
        modificar, distribuir, vender o alquilar ninguna parte de nuestro software sin nuestro consentimiento expreso.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Responsabilidad del Usuario:</strong>
        Eres responsable de mantener la confidencialidad de tu cuenta y contraseña. Además, eres responsable de todas
        las actividades que ocurran bajo tu cuenta.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Contenido del Usuario:</strong>
        Al proporcionar cualquier tipo de contenido (comentarios, sugerencias, etc.), otorgas a Felpil Games Studio el derecho
        no exclusivo, irrevocable y sublicenciable de usar, reproducir, modificar, adaptar, publicar y mostrar dicho
        contenido.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Privacidad:</strong>
        Nuestra política de privacidad describe cómo recopilamos, almacenamos y utilizamos la información personal. Al
        utilizar nuestros servicios, aceptas nuestras prácticas de privacidad.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Limitación de Responsabilidad:</strong>
        Felpil Games Studio no será responsable de ningún daño directo, indirecto, incidental, especial, consecuente o
        punitivo resultante del uso de nuestros servicios.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Cambios en los Términos:</strong>
        Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios entrarán
        en vigor inmediatamente después de la publicación en nuestro sitio web.
      </p>

      <p [ngClass]="'mb-4 dark:text-white'">
        <strong>Ley Aplicable:</strong>
        Estos términos y condiciones se rigen por las leyes de la República de Colombia y cualquier disputa estará sujeta a la
        jurisdicción exclusiva de los tribunales de Popayán.
      </p>
      
      <p [ngClass]="'dark:text-white'">
        Al utilizar nuestros servicios, aceptas estos términos y condiciones en su totalidad.
      </p>
      
    </article>
  </div>
</main>
