<div>
  <div class="footer-one-wrapper w-full pt-[130px]">
    <div class="theme-container mx-auto">
      <div class="w-full">
        <div
          class="top-bar w-full flex md:flex-row md:justify-between items-center flex-col space-y-10 md:space-y-0 md:mb-[80px] mb-10">
          <div>
            <img src="../../../assets/images/logos/logocircle500x500.png" alt="logo" width="100" height="100"/>
          </div>
          <ul class="flex md:gap-14 gap-5 flex-wrap md:items-center">
            <li class="text-18 hover:text-purple hover:underline common-transition text-paragraph font-semibold">
              <a href="#">Facebook</a>
            </li>
            <li class="text-18 hover:text-purple hover:underline common-transition text-paragraph font-semibold">
              <a href="#">Twitter</a>
            </li>
            <li class="text-18 hover:text-purple hover:underline common-transition text-paragraph font-semibold">
              <a href="#">Instagram</a>
            </li>
            <li class="text-18 hover:text-purple hover:underline common-transition text-paragraph font-semibold">
              <a href="#">LinkedIn</a>
            </li>
          </ul>
        </div>
        <div
          class="w-full py-[80px] border-t border-[e7e3fa] grid xl:grid-cols-12 md:grid-cols-3 md:gap-10 grid-cols-2 gap-8">
          <div class="xl:col-span-3">
            <div class="w-full mb-10">
              <p class="text-main-black text-18 font-semibold mb-[30px]">
                Address
              </p>
              <p class="font-medium text-paragraph">
                55 Street, 2nd block, 3rd Floor <br />
                Melbourne, Australia
              </p>
            </div>
            <div class="w-full">
              <p class="text-main-black text-18 font-semibold mb-[30px]">
                Contact
              </p>
              <p class="font-medium text-paragraph">
                infoqulandgmail.com <br />
                +880 456 852 99
              </p>
            </div>
          </div>
          <div class="xl:col-span-2">
            <div class="w-full">
              <p class="text-main-black text-18 font-semibold mb-[30px]">
                Services
              </p>
              <ul class="flex flex-col space-y-2.5">
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="project-details.html">Keyword Research</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="project-details.html">Email marketing</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="project-details.html">Content marketing</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="project-details.html">Web Development</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="project-details.html">Social Marketing</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="xl:col-span-2">
            <div class="w-full">
              <p class="text-main-black text-18 font-semibold mb-[30px]">
                Quick Link
              </p>
              <ul class="flex flex-col space-y-2.5">
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="contact.html">Help center</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="blog.html">Tutorials</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="contact.html">Create a ticket </a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="team-members.html">Meet Our Team</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="faq.html">FAQs</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="xl:col-span-2">
            <div class="w-full">
              <p class="text-main-black text-18 font-semibold mb-[30px]">
                Company
              </p>
              <ul class="flex flex-col space-y-2.5">
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="about.html">About us</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="projects.html">Careers</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="blog.html">News & Blog </a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="blog-details.html">Our Reviews</a>
                </li>
                <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
                  <a href="contact.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="xl:col-span-3 col-span-2 md:col-span-1">
            <div class="w-full mb-10">
              <p class="text-main-black text-18 font-semibold mb-[30px]">
                Newsletter
              </p>
              <p class="font-medium text-paragraph mb-[30px]">
                Subscribe newsletter to get updates
              </p>
              <div class="mb-2.5">
                <input placeholder="Email Address" id="eOne" type="text"
                  class="placeholder:text-paragraph w-full h-[56px] bg-main-gray border border-[#e7e3fa] focus:border-purple focus:outline-none focus:right-0 rounded-full px-[25px]" />
              </div>

              <a href="#">
                <div class="home-two-btn-bg py-3 group bg-purple border-purple inline-flex">
                  <span
                    class="text-base text-white group-hover:text-purple transition-all duration-300 font-inter relative z-10">
                    Subscribe
                  </span>
                  <svg class="relative z-10" width="7" height="12" viewBox="0 0 7 12" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="group-hover:stroke-blue-seo transition-all duration-300"
                      d="M1.10254 10.5L4.89543 6.70711C5.22877 6.37377 5.39543 6.20711 5.39543 6C5.39543 5.79289 5.22877 5.62623 4.89543 5.29289L1.10254 1.5"
                      stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="
        background: linear-gradient(
          90deg,
          #794aff 0%,
          #f3f4f9 63.23%
        );
      " class="w-full md:h-[65px] h-10">
      <div class="theme-container mx-auto h-full">
        <div class="w-full h-full flex justify-between items-center md:text-base text-xs">
          <span class="text-white">2024 © Todos los derechos reservados <b>Mina el Trio S.A.S</b></span>
          <div class="relative md:block hidden">
            <a href="#" aria-label="go top"
              class="w-[45px] h-[45px] rounded-full border-[3px] border-white flex justify-center items-center bg-blue-sass absolute -top-[55px]">
              <span><svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="22.5" cy="22.5" r="21" fill="#4A7DFF" stroke="white" stroke-width="3" />
                  <path d="M19 21L23 17M23 17L27 21M23 17V29" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </a>
          </div>
          <ul class="md:space-x-6 items-center md:flex hidden">
            <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
              <a href="#">Politica de privacidad</a>
            </li>
            <li class="text-paragraph font-medium">|</li>
            <li class="hover:text-purple hover:underline common-transition text-paragraph font-medium">
              <a href="#">Terminos y condiciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>