#toast-default {
  position: fixed;
  top: 20px; /* Ajusta este valor según sea necesario para la distancia desde la parte superior */
  right: 20px; /* Ajusta este valor según sea necesario para la distancia desde la derecha */
}
