<!--Todo: clients -->
<section id="home-one-client">
  <div
    class="2xl:px-[152px] md:px-10 xl:xl:py-[130px] md:py-[80px] px-5 py-10 overflow-x-hidden"
  >
    <p
      class="text-base text-paragraph font-medium mb-[50px] text-center"
    >
      We’ve more than 1250+ global clients
    </p>
    <div class="w-full h1-partner_slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-1.webp"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-2.webp"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-3.webp"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-4.webp"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-5.webp"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-6.webp"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a href="#" aria-label="partner">
            <img
              src="./assets/images/home-one-client-7.webp"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>