<!--Todo: clients -->
<section id="home-one-client">
  <div class="2xl:px-[152px] md:px-10 xl:xl:py-[130px] md:py-[80px] px-5 py-10 overflow-x-hidden">
    <p class="text-base text-paragraph font-medium mb-[50px] text-center">
      Nuestros clientes
    </p>
    <div class="w-full h1-partner_slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador1.jpg" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador2.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador3.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador4.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador5.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador6.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador7.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador8.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador9.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador10.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador11.png" alt="" />
          </a>
        </div><div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador12.jpg" alt="" />
          </a>
        </div><div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador13.png" alt="" />
          </a>
        </div><div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador14.png" alt="" />
          </a>
        </div><div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador15.png" alt="" />
          </a>
        </div><div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador16.png" alt="" />
          </a>
        </div><div class="swiper-slide client-item flex justify-center">
          <a [routerLink]="'/'" aria-label="partner">
            <img src="./assets/images/clients/patrocinador17.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>