<!--Todo: working Process -->
<section id="working-process">
  <div class="working-process-section-wrapper w-full xl:pb-[130px] pb-[60px]">
    <div class="theme-container mx-auto">
      <div class="w-full xl:grid grid-cols-12">
        <div class="col-span-5">
          <div class="title-area">
            <span class="section-title-top-tag mb-5">
              Nuestro dato curioso
            </span>
            <h2 class="md:text-48 text-34 font-semibold text-main-black mb-[50px]">
              Eficiencia en movimiento Navegando el proceso de trabajo
            </h2>
            <div id="progress-wrapper" class="grid xl:grid-cols-1 gap-5 lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
              <div data-aos="fade-up"
                class="w-full rounded-[20px] border border-[#e7e3fa] bg-main-gray px-10 py-[30px] overflow-hidden group relative">
                <div class="relative z-10 flex flex-col space-y-5">
                  <div class="w-10 h-10 bg-white border-2 border-purple rounded-full flex justify-center items-center">
                    <span class="text-purple font-semibold">01</span>
                  </div>
                  <div>
                    <p class="text-20 font-semibold text-main-black mb-4">
                      Descubrir y analizar
                    </p>
                    <p class="text-paragraph">
                      Descubrir y analizar" resume lo crucial
                      etapas iniciales de cualquier proyecto o emprendimiento.
                      Durante esta fase, los equipos
                    </p>
                  </div>
                </div>
                <div
                  class="absolute w-full h-full left-0 top-0 opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                  <img src="./assets/images/home-one-ff-item-shape-2.webp" alt="" class="w-full h-full" />
                </div>
              </div>
              <div data-aos-delay="100" data-aos="fade-up"
                class="w-full rounded-[20px] border border-[#e7e3fa] bg-main-gray px-10 py-[30px] overflow-hidden group relative">
                <div class="relative z-10 flex flex-col space-y-5">
                  <div class="w-10 h-10 bg-white border-2 border-purple rounded-full flex justify-center items-center">
                    <span class="text-purple font-semibold">02</span>
                  </div>
                  <div>
                    <p class="text-20 font-semibold text-main-black mb-4">
                      Desarrollo de estrategias
                    </p>
                    <p class="text-paragraph">
                      Descubrir y analizar" resume lo crucial
                      etapas iniciales de cualquier proyecto o emprendimiento.
                      Durante esta fase, los equipos
                    </p>
                  </div>
                </div>
                <div
                  class="absolute w-full h-full left-0 top-0 opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                  <img src="./assets/images/home-one-ff-item-shape-2.webp" alt="" class="w-full h-full" />
                </div>
              </div>
              <div data-aos-delay="200" data-aos="fade-up"
                class="w-full rounded-[20px] border border-[#e7e3fa] bg-main-gray px-10 py-[30px] overflow-hidden group relative">
                <div class="relative z-10 flex flex-col space-y-5">
                  <div class="w-10 h-10 bg-white border-2 border-purple rounded-full flex justify-center items-center">
                    <span class="text-purple font-semibold">03</span>
                  </div>
                  <div>
                    <p class="text-20 font-semibold text-main-black mb-4">
                      Lanzamiento y ejecución
                    </p>
                    <p class="text-paragraph">
                      Descubrir y analizar" resume lo crucial
                      etapas iniciales de cualquier proyecto o emprendimiento.
                      Durante esta fase, los equipos
                    </p>
                  </div>
                </div>
                <div
                  class="absolute w-full h-full left-0 top-0 opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                  <img src="./assets/images/home-one-ff-item-shape-2.webp" alt="" class="w-full h-full" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-7">
          <div class="w-full h-full flex xl:justify-end justify-center relative">
            <div class="h-full xl:absolute right-0">
              <div class="sticky top-[155px]">
                <div id="home-working-cursor-anim" class="relative">
                  <div data-depth="0.30" class="layer h-fit z-10">
                    <span
                      class="px-[30px] py-2.5 bg-purple shadow-small shadow-purple text-pone text-white rounded-br-none rounded-full md:inline-block hidden">Ventas
                      y marketing</span>
                  </div>
                  <div data-depth="0.40" class="layer h-fit z-10">
                    <div class="md:inline-block hidden">
                      <img src="./assets/images/teer.webp" alt="" class="drop-shadow-xl" />
                    </div>
                  </div>
                  <div data-depth="0.20" class="layer h-fit">
                    <span
                      class="md:inline-block hidden px-[30px] py-2.5 bg-blue-sass text-pone text-white rounded-br-none rounded-full shadow-small shadow-blue-sass">Marketing
                      & Crecimiento</span>
                  </div>
                </div>
                <div id="progressThumbHeight">
                  <img class="rounded-[15px]" src="./assets/images/landing/eficiencia.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>