<!--Todo: fun fact -->
<section id="fun-fact">
  <div class="fun-fact-wrapper w-full xl:pb-[130px] pb-[60px]">
    <div class="theme-container mx-auto">
      <div class="grid xl:grid-cols-2 grid-cols-1 xl:gap-[155px]">
        <div class="w-full">
          <span class="section-title-top-tag mb-5">Nuestro dato curioso</span>
          <h2 class="md:text-48 text-34 font-semibold text-main-black mb-[50px]">
            Trabajamos con diversos clientes e industrias.
          </h2>
          <p class="text-paragraph mb-[40px] pl-5 border-l-[3px] border-purple">
            Definido por el dinamismo digital, avanzamos juntos con innovación, estrategia y valor agregado.
          </p>
          <!-- <a href="#">
            <div class="w-[182px] h-[56px] rounded-full border border-[#e7e3fa] flex justify-center items-center">
              <div class="flex space-x-2.5 items-center text-purple">
                <span class="text-pone"> Learn More </span>
                <span>
                  <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1 10.5L4.79289 6.70711C5.12623 6.37377 5.29289 6.20711 5.29289 6C5.29289 5.79289 5.12623 5.62623 4.79289 5.29289L1 1.5"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </div>
            </div>
          </a> -->
        </div>
        <div class="w-full relative xl:mt-0 mt-10 flex xl:flex-none flex-wrap gap-5">
          <div
            class="xl:absolute left-20 top-0 rounded-[20px] w-[300px] h-[178px] border border-[#e7e3fa] bg-main-gray overflow-hidden group">
            <div class="flex justify-center items-center p-8 relative">
              <div class="flex flex-col space-y-5 justify-between items-center relative z-10">
                <p class="md:text-48 text-34 font-semibold text-center text-main-black" data-scroll-qs="scroll"
                  data-count-qs="10" data-type-qs="K+" data-speed-qs="600"></p>
                <hr class="border-[3px] border-purple w-[80px]" />
                <p class="text-center text-paragraph text-18 font-semibold">
                  Proyectos completados
                </p>
              </div>
              <div
                class="absolute w-full h-full left-0 top-0 opacity-100 xl:opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                <img src="./assets/images/home-one-ff-item-shape.webp" class="w-full h-full" alt="" />
              </div>
            </div>
          </div>
          <div
            class="xl:absolute left-0 bottom-5 rounded-[20px] w-[300px] h-[178px] border border-[#e7e3fa] bg-main-gray overflow-hidden group">
            <div class="p-8 flex justify-center items-center relative">
              <div class="flex flex-col space-y-5 justify-between items-center relative z-10">
                <p data-scroll-qs="scroll" data-count-qs="30" data-type-qs="K+" data-speed-qs="600"
                  class="md:text-48 text-34 font-semibold text-center text-main-black"></p>
                <hr class="border-[3px] border-purple w-[80px]" />
                <p class="text-center text-paragraph text-18 font-semibold">
                  Clientes satisfechos
                </p>
              </div>
              <div
                class="absolute w-full h-full left-0 top-0 xl:opacity-0 opacity-100 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                <img src="./assets/images/home-one-ff-item-shape.webp" class="w-full h-full" alt="" />
              </div>
            </div>
          </div>
          <div
            class="xl:absolute -right-12 bottom-20 rounded-[20px] w-[300px] h-[178px] border border-[#e7e3fa] bg-main-gray overflow-hidden group">
            <div class="p-8 flex justify-center items-center relative">
              <div class="flex flex-col space-y-5 justify-between items-center relative z-10">
                <p data-scroll-qs="scroll" data-count-qs="10" data-type-qs="+" data-speed-qs="600"
                  class="md:text-48 text-34 font-semibold text-center text-main-black"></p>
                <hr class="border-[3px] border-purple w-[80px]" />
                <p class="text-center text-paragraph text-18 font-semibold">
                  Años de experiencia
                </p>
              </div>
              <div
                class="absolute w-full h-full left-0 top-0 opacity-100 group-hover:opacity-100 transition-all duration-300 ease-in-out">
                <img src="./assets/images/home-one-ff-item-shape.webp" class="w-full h-full" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>