<!--Todo: consultation -->
<section data-aos="fade-up" id="consultation">
  <div class="consultation-section-wrapper w-full relative">
    <div class="theme-container mx-auto relative z-10">
      <div
        class="w-full py-[80px] xl:pl-[110px] pl-10 border border-[#e7e3fa] rounded-[20px] bg-main-gray md:flex relative">
        <div class="absolute bottom-0 left-0 pointer-events-none">
          <img src="./assets/images/cta-dot-shape.webp" alt="" />
        </div>
        <div class="md:w-[432px] w-full">
          <span class="section-title-top-tag mb-5">Trabajos fuertemente</span>
          <h2 class="md:text-48 text-34 font-semibold text-main-black mb-[32px]">
            Cada día monernizamos juntos
          </h2>
          <p class="text-paragraph mb-[45px]">
            Optamos por las mejores practicas y así brindarte lo mejor.
          </p>

          <!-- <a href="contact.html">
            <div class="home-two-btn-bg py-3 group bg-purple border-purple inline-flex">
              <span
                class="text-base text-white group-hover:text-purple transition-all duration-300 font-inter relative z-10">
                Get Consultation
              </span>
              <svg class="relative z-10" width="7" height="12" viewBox="0 0 7 12" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path class="group-hover:stroke-blue-seo transition-all duration-300"
                  d="M1.10254 10.5L4.89543 6.70711C5.22877 6.37377 5.39543 6.20711 5.39543 6C5.39543 5.79289 5.22877 5.62623 4.89543 5.29289L1.10254 1.5"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
          </a> -->
        </div>
        <div class="flex-1">
          <div id="consaltaion-mouse-move-anim" class="flex justify-end w-full relative mt-10">
            <div class="mr-10 moving-h2-hero-main-img">
              <img src="./assets/images/cta-shape.webp" alt="" />
            </div>
            <div data-depth="0.40" class="layer">
              <img class="rounded-[15px]" src="./assets/images/landing/mineria.jpg" alt="" />
            </div>
            <div data-depth="0.20" class="layer absolute md:right-40 right-10">
              <img src="./assets/images/cta-p-2.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between absolute top-20">
      <div id="line-lottie-style-2"></div>
      <div class="transform rotate-180" id="line-lottie2-style-2"></div>
    </div>
  </div>
</section>