<section [ngClass]="dark + 'bg-white'">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
    <div data-aos="fade-right">
      <img class="w-full dark:hidden rounded-lg"
      src="assets/img_game.png" alt="dashboard image">
    <img class="w-full hidden dark:block rounded-lg"
      src="assets/img_game.png"
      alt="dashboard image">
    </div>
    <div data-aos="fade-left" class="mt-4 md:mt-0">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Software mundo mágicos</h2>
      <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Juegos, apps, IA, lugares sorprendentes donde podrás crear tus ideas más increíbles.</p>
    </div>
  </div>
</section>