<main [ngClass]="dark + 'pt-8 lg:pt-16 bg-white antialiased'" data-aos="fade-right">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
    <article
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

      <card-profile-mini></card-profile-mini>

      <p class="lead dark:text-white mb-3">¡Bienvenidos a mi rincón digital donde la pasión por el desarrollo de software
        cobra vida en
        diversas formas! Permítanme presentarme: soy Andrés Felipe Pizo Luligo, un apasionado desarrollador de software
        que se ha
        aventurado en los reinos del backend, el desarrollo móvil, el frontend y la creación de videojuegos.
        Acompáñenme en este emocionante viaje donde exploraremos las múltiples facetas de mi experiencia en el
        vasto mundo del código.</p>

      <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
        Desarrollador Backend: Tras las cortinas digitales</h1>

      <p [ngClass]="'dark:text-white mb-3'">Como un hábil desarrollador de software, mi viaje comenzó entre servidores, bases
        de datos y la creación de lógica
        empresarial robusta. Desde la gestión eficiente de datos hasta la optimización del rendimiento, el backend es el
        corazón pulsante de cualquier aplicación sólida. A lo largo de mi trayectoria, he trabajado con tecnologías de
        vanguardia, asegurando la entrega de servicios eficientes y escalables.</p>

      <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
        Explorando el Terreno Móvil: Más allá de las pantallas táctiles</h1>

      <p [ngClass]="'dark:text-white mb-3'">Móvil, la interfaz omnipresente que ha transformado la forma en que interactuamos
        con el mundo digital. He
        tenido el privilegio de sumergirme en el desarrollo móvil, creando aplicaciones que no solo son funcionales,
        sino también atractivas y fáciles de usar. Tales como Android, cada plataforma presenta sus desafíos
        únicos, y yo estoy aquí para superarlos con creatividad y eficiencia.</p>

      <figure>
        <img [ngClass]="'rounded-lg'" src="assets/img_toques.png" alt="">
        <figcaption [ngClass]="'dark:text-white'">Imagen por Felpil Games Studio</figcaption>
      </figure><br>

      <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
        Forjando el Camino en el Frontend: Donde el diseño se encuentra con la funcionalidad</h1>

      <p [ngClass]="'dark:text-white mb-3'">En el mundo visualmente impulsado de hoy, el frontend se ha convertido en un
        campo de juego crucial. Mi viaje
        incluye la creación de interfaces de usuario intuitivas y estéticamente agradables. Trabajo incansablemente para
        que cada interacción sea una experiencia memorable. HTML, CSS, JavaScript son mis herramientas para
        transformar ideas en interfaces cautivadoras y sin dejar por aparte <a href="https://angular.dev"
          class="text-primary-600">Angular</a> tecnología con la que esta construido esta página.</p>

      <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">
        Game Developer: Creando mundos virtuales desde cero</h1>

      <figure>
        <img [ngClass]="'rounded-lg'" src="assets/img_bullet_f.png" alt="">
        <figcaption [ngClass]="'dark:text-white'">Imagen por Felpil Games Studio</figcaption>
      </figure><br>


      <p [ngClass]="'dark:text-white mb-3'">La creación de videojuegos es algo maravilloso perfecto de arte y ciencia. He
        tenido la oportunidad de sumergirme en
        el emocionante universo de los videojuegos, desde la concepción de conceptos hasta la implementación de
        mecánicas de juego complejas. Cada línea de código es una nueva aventura, construyendo mundos digitales que
        cautivan la imaginación.</p>

      <p [ngClass]="'dark:text-white'">¡Acompáñenme mientras exploramos juntos el emocionante y siempre evolutivo mundo
        del desarrollo de software!
      </p>

      <example-code></example-code>

    </article>
  </div>

</main>

<subscription-email></subscription-email>

<button-floating></button-floating>